#root{
  max-width: 100%;
  margin: 0;
  width: 100%;

}



body{
  font-family: Arial, sans-serif;
  background: linear-gradient(170deg, #474747, #5c5c5c);
  margin: 0;
  padding: 0;
}

.header-container{
  
  
  position: fixed;
  width: 100%;
  display: flex;
  flex-direction: column;
  padding:5px 0px;
  background-color: #ffffff;
  color:white;
  gap: 5px;
  box-sizing: border-box;
}
.fila-superior{
  display: flex;
  width: 100%;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  gap: 10px;
  box-sizing: border-box;
  padding: 5px 20px;


}
.fila-superior, .navegacion{
  padding: 0 20px;
  box-sizing: border-box;
}
/*logo*/
.logo{
  flex: 1;

} 
.img-logo{
  width:180px;
  max-width: 100%;
  height: 90px;
  object-fit: fill;
  /* margin-bottom:10px; */
  display: block;
  margin: 0;
  /* transition: transform 0.3s ease; */
}

/*Navegación*/
.navegacion{
  display: flex;

  justify-content: flex-start;
  align-items: center;
  background-color: #267700;
  border-radius: 50px;
  padding: 5px 10px;
  margin: 0 20px;



}
.navegacion ul{
  list-style: none;
  margin: 0;
  padding: 0;
  display:flex;
  padding-right: 15px;
  border-right: 2px solid rgba(255, 255, 255, 0.5);
  align-items: center;
  margin-right: 15px;
  gap:10px;


}
.navegacion a{
  text-decoration: none;
  color: #ffffff;
}

.navegacion a:hover{
  color: #6ec54c;
  text-decoration: none;
}

/*navegacion extra*/
.nav-extra{
  display: flex;
  align-items: center;
  gap: 110px;
  justify-content: center;
  flex-wrap: wrap;
  margin-left: auto;
  color: #ffffff;
  /* font-weight: 500; */
  font-size: 14px;
  font-weight:bold;

}

.nav-extra li{
  display: flex;
  align-items: center;
  gap: 9px;
}
.nav-extra a{
  text-decoration: none;
  color: inherit;
  transition: 0.3s;
}
.nav-extra a:hover{
  
  color: #bbff00;
}
/* .nav-extra:active a{
  transform: scale(0.95);
  color: #ffffff;
} */

.icono-circulo{
  background-color: #ffffff;
  width: 28px;
  height: 28px;
  margin-right: 5px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  
}

.divisor{
  width: 2.5px;
  height: 28px;
  background-color: rgba(255, 255, 255, 0.5);
  margin: 0 20px;

}

/*boton de navegacion*/
.btn-nav{
  align-items: center;
  background-color: #1b9b0a;
  display: flex;
  border: none;
  padding: 2px 10px;
  font-size: 15px;
  font-weight: bold;
  cursor: pointer;
  border-radius: 50px;
  color: rgb(255, 255, 255);
  



}

.btn-nav:hover{
  transform: scale(1.1);
  background-color: #257a1f;
  box-shadow: 0 0 20px #ffffff;


}
.btn-nav:active{
  transform: scale(0.95);
  color: #ffffff;


}



/* buscardor */
.buscador{
  display: flex;
  flex: 1;
  justify-content: center;
  max-width: 500px;
  margin: 0 auto;
  border-radius: 10px;
  /* background-color: #3a3a3a; */
  overflow: hidden;


}

.buscador input{
  color: #353535;
  width: 100%;
  padding: 8px 12px;
  border: 1px solid #ffffff;
  border-radius: 10px 0 0 10px;
  outline: none;
  background-color: #b6b6b6;

}

/*boton de busqueda*/
.buscador button{
  padding: 5px 18px;
  border: none;
  border-radius: 0 4px 4px 0;
  background: var(--verde);
  background-color: #267700;
  color: white;
  cursor: pointer;
  font-weight: bold;
  transition: background-color 0.3s;
}
.buscador button:hover{
  background-color: #629700;
}

/*iconos*/
.grupo-iconos{
  justify-content:flex-end ;
  flex: 1;
  display: flex;
  padding-right: 20px;
  gap: 15px;
}
.icono-user, .icono-carrito{
  margin-left: 0px;
  display: flex;
  align-items: center;
}
.user, .carrito{
  width: 30px;
  height: auto;
}
.user{
  width: 30px;
}
.carrito{
  width: 30px;
  /* filter: brightness(0) saturate(100%) invert(44%) sepia(92%) saturate(727%) hue-rotate(76deg) brightness(95%) contrast(95%); */
}

.logo, .grupo-iconos{
  flex: 1;
  display: flex;
}
